body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1; 
}
.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    width: 300px; }
.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="email"] {
    width: calc(100% - 24px); 
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-container input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
.form-container input[type="submit"]:hover {
    background-color: #45a049;
}
.toggle-link {
    text-decoration: underline;
    cursor: pointer;
    color: blue;
    text-align: center;
    margin-top: 10px;
}